word-filtering-script-generator/statemachine/statemachine.asl.json
{
  "Comment": "Video",
  "StartAt": "CreateVocabularyFilter",
  "States": {
    "CreateVocabularyFilter": {
      "Type": "Task",
      "Next": "Wait for Creating Filter",
      "Parameters": {
        "LanguageCode": "en-US",
        "VocabularyFilterName": "badWordFilter",
        "Words": [
          "mug",
          "fucking"
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:createVocabularyFilter",
      "ResultPath": null
    },
    "Wait for Creating Filter": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "StartTranscriptionJob"
    },
    "StartTranscriptionJob": {
      "Comment": "Start a transcribe job on the provided media file",
      "Next": "Wait for Starting Job",
      "Parameters": {
        "Media": {
          "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.bucket.name, $.detail.object.key)"
        },
        "OutputBucketName": "bucket-776177632559-us-east-1-transcript-results",
        "OutputKey": "temp.json",
        "LanguageCode": "en-US",
        "TranscriptionJobName.$": "$$.Execution.Name",
        "Settings": {
          "VocabularyFilterMethod": "mask",
          "VocabularyFilterName": "badWordFilter"
        }
      },
      "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:transcribe:startTranscriptionJob",
      "Type": "Task"
    },
    "Wait for Starting Job": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetTranscriptionJobStatus"
    },
    "GetTranscriptionJobStatus": {
      "Type": "Task",
      "Parameters": {
        "TranscriptionJobName.$": "$.TranscriptionJob.TranscriptionJobName"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "TranscriptionJobStatus"
    },
    "TranscriptionJobStatus": {
      "Choices": [
        {
          "Next": "GetObject",
          "StringEquals": "COMPLETED",
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus"
        },
        {
          "Next": "Fail",
          "StringEquals": "FAILED",
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus"
        }
      ],
      "Default": "Wait for Starting Job",
      "Type": "Choice"
    },
    "GetObject": {
      "Comment": "Get Transcribed json file",
      "Next": "PutObject",
      "Parameters": {
        "Bucket": "bucket-776177632559-us-east-1-transcript-results",
        "Key": "temp.json"
      },
      "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:s3:getObject",
      "ResultPath": "$.transcription",
      "ResultSelector": {
        "filecontent.$": "States.StringToJson($.Body)"
      },
      "Type": "Task"
    },
    "PutObject": {
      "Comment": "extract transcription text in json file",
      "End": true,
      "Parameters": {
        "Body.$": "$.transcription.filecontent.results.transcripts[0].transcript",
        "Bucket": "bucket-776177632559-us-east-1-transcript-results",
        "Key": "transcript.txt"
      },
      "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:s3:putObject",
      "Type": "Task"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}