common-error-handling/statemachine/common_error_option2.asl.json
{
    "Comment": "A state machine that shows the challenges with defining common error handling",
    "StartAt": "Number Lambda",
    "States": {
      "Odd Lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "ResultPath": "$.oddLambda",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${OddFunctionArn}" 
        },
        "Next": "Even Lambda",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Comment": "send to common error handler",
            "Next": "Common Error Handler"
          }
        ]
      },
      "Common Error Handler": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "ResultPath": "$.commonErrorLambda",
        "Parameters": {
            "FunctionName": "${CommonErrorOption2FunctionArn}",
            "Payload":{  
              "Execution.$": "$$.Execution",
              "StateMachine.$": "$$.StateMachine"
            }
        },
        "End": true
      },
      "Even Lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "ResultPath": "$.evenLambda",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${EvenFunctionArn}"
        },
        "End": true,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Comment": "send to common error handler",
            "Next": "Common Error Handler"
          }
        ]
      },
      "Number Lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "ResultPath": "$.numberLambda",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${NumberFunctionArn}"
        },
        "Next": "Odd Lambda",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Comment": "send to common error handler",
            "Next": "Common Error Handler"
          }
        ]
      }
    }
  }