workflow-within-a-workflow/statemachines/nested-state-machine.asl.json
{
    "StartAt": "First long-running job",
    "States": {
        "First long-running job": {
            "Type": "Wait",
            "Seconds": 1,
            "Next": "Need callback?"
        },
        "Need callback?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.NeedCallback",
                    "BooleanEquals": true,
                    "Next": "Callback"
                }
            ],
            "Default": "Second long-running job"
        },
        "Callback": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${NestingPatternCallbackLambdaFunction}",
                "Payload": {
                    "TaskToken.$": "$$.Execution.Input.TaskToken",
                    "Message": "Callback right after the first long-running job is completed"
                }
            },
            "Next": "Second long-running job"
        },
        "Second long-running job": {
            "Type": "Wait",
            "Seconds": 1,
            "Next": "Report completion"
        },
        "Report completion": {
            "Type": "Pass",
            "Result": "The whole execution is completed including both long-running jobs",
            "End": true
        }
    }
}