s3-bucket-nested-distributed-map/statemachine/statemachine.asl.json
{
  "StartAt":"S3 Distributed Map State Machine",
  "States":{
     "S3 Distributed Map State Machine":{
        "Next":"Fail",
        "MaxConcurrency":1000,
        "ToleratedFailurePercentage":100,
        "OutputPath":null,
        "Type":"Map",
        "Catch":[
           {
              "ErrorEquals":[
                 "States.ItemReaderFailed"
              ],
              "Next":"Fail"
           }
        ],
        "ItemBatcher":{
           "MaxItemsPerBatch":10
        },
        "ItemProcessor":{
           "ProcessorConfig":{
              "ExecutionType":"STANDARD",
              "Mode":"DISTRIBUTED"
           },
           "StartAt":"ProcessObjects",
           "States":{
              "ProcessObjects":{
                 "MaxConcurrency":1000,
                 "ToleratedFailurePercentage":100,
                 "ItemsPath":"$.Items",
                 "ResultPath":null,
                 "OutputPath":null,
                 "End":true,
                 "Type":"Map",
                 "Catch":[
                    {
                       "ErrorEquals":[
                          "States.ItemReaderFailed"
                       ],
                       "Next":"FailItem"
                    }
                 ],
                 "ItemBatcher":{
                    "MaxItemsPerBatch":10
                 },
                 "ItemProcessor":{
                    "ProcessorConfig":{
                       "ExecutionType":"STANDARD",
                       "Mode":"DISTRIBUTED"
                    },
                    "StartAt":"ProcessItems",
                    "States":{
                       "ProcessItems":{
                          "Type":"Map",
                          "ItemsPath":"$.Items",
                          "ItemProcessor":{
                             "ProcessorConfig":{
                                "Mode":"INLINE"
                             },
                             "StartAt":"GetObjectFromBucket",
                             "States":{
                                "GetObjectFromBucket":{
                                   "Type":"Task",
                                   "Next":"TransformItem",
                                   "Parameters":{
                                      "Bucket":"bucket",
                                      "Key.$":"$.Key"
                                   },
                                   "Resource":"arn:aws:states:::aws-sdk:s3:getObject"
                                },
                                "TransformItem":{
                                   "Type":"Pass",
                                   "Next":"PublishItem",
                                   "Parameters":{
                                      "output.$":"States.JsonMerge(States.StringToJson($.Body), States.StringToJson('{\"NewField\": \"MyValue\" }'), false)"
                                   },
                                   "OutputPath":"$.output"
                                },
                                "PublishItem":{
                                   "Type":"Task",
                                   "Resource":"arn:aws:states:::sns:publish",
                                   "Parameters":{
                                      "Message.$":"$",
                                      "TopicArn":"topic"
                                   },
                                   "End":true,
                                   "ResultPath":null
                                }
                             }
                          },
                          "End":true
                       }
                    }
                 }
              },
              "FailItem":{
                 "Type":"Fail"
              }
           }
        },
        "ItemReader":{
           "Parameters":{
              "Bucket":"bucket"
           },
           "Resource":"arn:aws:states:::s3:listObjectsV2"
        }
     },
     "Fail":{
        "Type":"Pass",
        "Next":"End"
     },
     "End":{
        "Type":"Pass",
        "End":true
     }
  }
}